@using ForthAssignment.Core.Aplication.Models.User
@using Microsoft.AspNetCore.Http
@using ForthAssignment.Core.Aplication.Utils.UserSessionHandler
@inject IHttpContextAccessor httpContext

@{
    var user = httpContext.HttpContext.Session.Get<UserModel>("user");
}

@if (ViewBag.MessageError is not null)
{
    <p class="alert-danger d-block text-center">@ViewBag.MessageError</p>
}

@if (ViewBag.MessageSucces is not null)
{
    <p class=" alert alert-success d-block text-center" role="alert">@ViewBag.MessageSucces</p>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-warning">
                <div class="card-header bg-warning text-white text-center">
                    <h1 class="card-title">Account Not Activated</h1>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Please check your email to activate your account.</p>
                    <p class="card-text">If you did not receive an email or your code expired, click the button below to resend the activation message.</p>
                    <form method="post" asp-action="NotActivated" asp-controller="Home" class="d-inline">
                        <input type="hidden" name="id" value="@user.Id" />
                        <input type="hidden" name="Email" value="@user.Email" />
                        <button type="submit" class="btn btn-outline-warning mt-3">Resend Email</button>
                    </form>
                    <hr />
                    <p class="card-text">Or enter the activation code you received in the email:</p>
                    <form method="post" asp-action="ActivateUser" asp-controller="User" class="d-inline">
                        <div class="form-group">
                            <label for="activationCode">Activation Code</label>
                            <input type="text" name="code" class="form-control" id="activationCode" required />
                        </div>
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="btn btn-outline-warning mt-3">Activate Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>